@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background: #000;
}

button {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100% !important;
  margin: 0 auto !important;
}

/* Hide Native Scrollbar for custom progress bar */
html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}