* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100% !important;
  margin: 0 auto !important;
}


html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}