.footer {
  position: relative;
  background: #040404;
  color: #d4d4d4;
  padding-top: 0px;
  padding-bottom: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  background: linear-gradient(to right,
      transparent,
      rgba(132, 126, 107, 0.8),
      transparent);
  box-shadow: 0 0 30px rgba(132, 126, 107, 0.6);
}



/* Bottom Bar */
.bottomBar {
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: #666;
}

@media (max-width: 768px) {
  .bottomBar {
    padding: 0 20px;
  }
}