.scrollTrack {
  position: fixed;
  top: 0;
  right: 0;
  width: 5px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.05);
  z-index: 9999;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}

.scrollThumb {
  width: 100%;
  background: #bdb595;
  /* box-shadow: 0 0 15px rgba(189, 181, 149, 0.8), 0 0 5px rgba(189, 181, 149, 0.5); */
  border-radius: 0 0 4px 4px;
}
