.portfolio {
  padding: 100px 0px;
  background: #f6f2eb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-bottom: 60px; */
  margin: 0 auto;
  max-width: 70%;
}

.headerLeft {
  max-width: 520px;
}

.headerLeft h2 {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
  color: #1a1a1a;
}

.headerLeft h3 {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.1;
  margin: 6px 0 0;
  color: #847e6b;
}

.headerRight {
  max-width: 520px;
  padding-top: 8px;
}

.headerRight p {
  font-size: 15px;
  line-height: 1.8;
  color: #6f6f6f;
  margin: 0;
}


.grid {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0 auto; 
  max-width: 70%;
  margin-top: 60px;
}

.row {
  display: flex;
  overflow: hidden;
  height: 260px;
  gap: 6px;
}

.card {
  flex: 1;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.15)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.info {
  position: absolute;
  bottom: 32px;
  width: 100%;
  text-align: center;
  color: #fff;
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.card:hover .info {
  transform: translateY(0);
  opacity: 1;
}

.info h4 {
  font-size: 18px;
  margin-bottom: 12px;
}

.infobtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffffec;
  text-decoration: none;
  font-family: 'Raleway';
  overflow: hidden;
  z-index: 1;
  transition: color 0.25s ease, border-color 0.25s ease;
}

.infobtn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.infobtn:hover::after {
  transform: scaleX(1);
}

.infobtn:hover {
  color: #fff;
  border-color: #000000;
  cursor: pointer;
}

.cta {
  max-width: 65%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 40px;
  border: 2px solid #ffffff;
  background: #f7f4ee00;
}

.ctaInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.ctaText {
  max-width: 700px;
}

.ctaText h3 {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 12px;
  color: #1a1a1a;
}

.ctaText h3 span {
  color: #847e6b;
}

.ctaText p {
  font-size: 14px;
  line-height: 1.8;
  color: #6f6f6f;
  margin: 0;
}

.ctabtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 26px;
  font-size: 14px;
  font-weight: 500;
  background: #847e6b;
  color: #ffffff;
  border: 1px solid #fff;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: color 0.25s ease, border-color 0.25s ease;
}

.ctabtn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.ctabtn:hover::after {
  transform: scaleX(1);
}

.ctabtn:hover {
  color: #fff;
  border-color: #847e6b;
}