.cta {
  background: #0c0c0c;
  padding: 120px 20px;
  color: #fff;
  overflow: hidden;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
}

.imageWrapper {
  position: relative;
}

.videoContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  overflow: hidden;
  border: 1px solid rgba(132, 126, 107, 0.3);
  pointer-events: none;
  background: #000;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: none;
}

.subTitle {
  font-size: 11px;
  letter-spacing: 4px;
  color: #bdb595;
  margin-bottom: 20px;
}

.title {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 30px;
}

.title span {
  color: #bdb595;
}

.text {
  font-size: 15px;
  line-height: 1.8;
  opacity: 0.85;
  margin-bottom: 0px;
}

.actions {
  display: flex;
  gap: 30px;
}

.primaryBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px 32px;
  font-size: 16px;
  font-weight: 600;
  background: #bdb595;
  color: #fff;
  border: 1px solid #000000;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: color 0.25s ease, border-color 0.25s ease;
  cursor: pointer;
}

.primaryBtn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.primaryBtn:hover::after {
  transform: scaleX(1);
}

.primaryBtn:hover {
  color: #000000;
  border-color: #bdb595;
}

.secondaryBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 30px;
  font-size: 15px;
  font-weight: 600;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: color 0.25s ease, border-color 0.25s ease;
  cursor: pointer;
}

.secondaryBtn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #bdb595;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.secondaryBtn:hover::after {
  transform: scaleX(1);
}

.secondaryBtn:hover {
  color: #fff;
  border-color: #bdb595;
}

/* Responsive */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .videoContainer {
    height: auto;
  }
}